.container{
    margin: 10px;
}

.header{
    width:100%;
    background-color: black;
    font-size: 30px;
    font-weight:75px;
    text-align: center;
    color: whitesmoke;
    padding: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.body{
    background-color: lightgrey;
    padding: 40px 40px 60px 50px;
}


#content{
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    margin: 16px 10px 16px 10px;
 }

#question{
    font-size:25px;
    font-weight:bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

span{
    padding: 10px;
    
}


#a{
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 50px;
    font-size: 20px;
    border-radius: 5px;
}

#h,#finish{
    margin: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#a{
     font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 50px;
    font-size: 20px;
    border-radius: 5px;
}